/* ===== Basic Styles ===== */
:root {
  --background-color: #121622;
  --primary-color: #fff;
  --secondary-color: #2b72eb;
}

*,
::before,
::after {
  box-sizing: border-box;
  border: none;
  color: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-family: Arial, 'Helvetica Neue', Helvetica,  sans-serif;
  font-size: 10px;
  font-weight: 300;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  margin: 0 auto;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 48rem;
  width: 90%;
}

.header {
  background-color: var(--primary-color);
  margin-bottom: 2rem;
  top: 0;
  left: 0;
  text-align: center;
}

.header_logo {
  border-radius: 50%;
}

.hero-image {
  width: 100%;
}

.main_heading {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.social {
  border-top: 1px solid var(--primary-color);
  margin: 2rem 0;
  padding-top: 2rem;
}
.social ul {
  display: flex;
  justify-content: space-evenly;
}

.social li {
  list-style: none;
}

.social img {
  width: 4rem;
}

.social svg path {
  stroke: var(--primary-color);
}

.social svg:hover path {
  stroke: var(--secondary-color);
}